.numbers_list {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 2rem auto;
  width: fit-content;
}

.number {
  padding: 0.5rem;
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  font-weight: 700;
  width: 0.7rem;
  text-align: center;
}

.enable_pageNumber_style{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.disabled_pageNumber_style {
    border: 2px solid var(--white-color);
    color: var(--black-color);
}

@media only screen and (max-width: 700px) {
    .numbers_list{
        margin-bottom: 5rem;
    }
}