.aside_container {
  background-color: var(--white-color);
  transition: width 0.3s;
  width: 0rem;
  display: none;
}
.aside_list {
  color: black;
}
.open_asides {
  display: block;
  width: 6rem;
}
@media only screen and (max-width: 700px) {
  .aside_container {
    display: none;
  }
}
